.superInput {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e0dfdf;
    margin: 10px;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 3px solid red;
}

.span {
    height: 21px;
}

.errorSpan {
    color: red;
}