.default {
    width: 70px;
    background-color: #c9dcef;
    color: black;
    border-radius: 5px;
    margin: 5px;
}

.default:disabled {
    background-color: indianred;
}

.default:hover {
    background-color: #c9dcef;
    border: 2px solid cyan;
}

.default:focus {
    background-color: #618db6;
    color: white;
}

.red {
    background: red;
}